<section class="draw-container">
  <div class="draw-status">
    <ion-chip color="primary">Categoría: {{ category }}</ion-chip>
    <ion-chip color="warning">Saca: {{ cardsToDraw }}</ion-chip>
    <ion-chip color="success">Toma: {{ cardsTaken }}</ion-chip>
  </div>

  <div class="cards-row">
    <ng-container *ngFor="let card of drawnCards">
      <button
        *ngIf="selectable; else staticCard"
        type="button"
        class="card-choice"
        [class.selected]="isSelected(card.id)"
        [disabled]="disabled"
        (click)="toggleCard(card.id)"
      >
        <app-hider-card [card]="card"></app-hider-card>
      </button>
      <ng-template #staticCard>
        <app-hider-card [card]="card"></app-hider-card>
      </ng-template>
    </ng-container>

    <div class="deck-slot" *ngIf="pendingCards > 0">
      <app-hider-card [card]="deckBackCard"></app-hider-card>
      <small>Mazo ({{ pendingCards }} restantes)</small>
    </div>
  </div>

  <h2>{{ title }}</h2>
</section>
